// == nav variables == //

$body-text-color: rgba(0,0,0,.65);
$h3-text-color: #373a3c;


/* ==== 01. FONTS ==== */

$body-font: "Open Sans";
$h3-font: "Poppins";
$body-font-size: 17px;

$h2: 45px;
$h3-font-size: 44px;
$h4-font-size: 22px;


/* ==== 01. SIZES ==== */

$container: 1280px;
$container-min: 920px;
$margin__navbar: 20px;

$margin_lg: 75px;

/* ==== 01. COLORS ==== */

$text__dark: rgba(0,0,0,.65);
$text__light: rgba(255,255,255,.75);
$blue: rgba(65, 100, 140, 1);
$light_blue: #64c2df;
$turqoise: #2496ba;
$orange: #f18700;
$green: #0099A8;

$button__light: rgba(255, 255, 255, 1);

$accent: #4054b2;

$shadow: 0px 0px 4px rgba(0,0,0,.10);
// $colors (
//   red: #0c0c0c;
//   blue: #00000;
//
// )
