/*--- Base css layout --*/
@import "partials/variables";
@import "partials/mixins";
@import "partials/animations";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0;
  margin: auto;
  background-color: #f5f6f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: rgba(0,0,0,.55);
  height: 100%;
  max-width: 1920px;
  position: relative;
}

a {
  position: relative;
  text-decoration: none;
  list-style: none;
  color: $blue;
  cursor: pointer;
  transition: .2s ease all;

  &:hover {
    color: darken($blue, 10%);
    text-decoration: underline;
  }
}

section {
  background-color: white;
}

h2 {
  font-size: 44px;
  font-family: 35px;
  font-weight: 800;
  margin: 0;
  @include tablet {
    font-size: 30px;
  }
  @include mobile {
    font-size: 20px;
  }
}

h3 {
  font-size: 35px;
  font-weight: 800;
  color: rgba(0,0,0,.75);
  margin: 0;
  @include tablet {
  }
  @include mobile {
    display: block;
  }
}

h4 {
  font-size: 25px;
  font-family: $h3-font;
  color: rgba(0,0,0,.80);
  margin: 0;
}

p {
  margin: 0;
  line-height: 150%
}

hr {
  border: 1px solid #ececec;
}

div {
  position: relative;
}

figure {
  margin:0;
}


/*====
MARGINS
======*/

.margin-text-btm {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 10px;
  }

  @include mobile {
    margin-bottom: 10px;
  }
}

.margin-text-btm-small {
  margin-bottom: 10px;
}

.margin-text-btm-large {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include mobile {
    margin-bottom: 20px;
  }
}

.margin-text-top {
  margin-top: 20px;

  @include tablet {
    margin-top: 10px;
  }

  @include mobile {
    margin-top: 10px;
  }
}


/*====
PADDINGS
======*/

.padding-lr-small {
  padding: 0 20px;
}

.padding-lr-medium {
  padding: 0 40px;
}

.padding-lr-large {
  padding: 0 60px;
}

/*====
REUSABLE
======*/

.container {
  max-width: 1280px;
  width: 100%;
}

.container-min {
  width: 100%;
  max-width: 980px;
}

.container-xs {
  width: 100%;
  max-width: 700px;
}


/*====
HEADER
======*/

header {
  width: 100%;
  height: 80px;
  background-color: transparent;
  position: relative;
}

.logo {
  position: relative;
  width: 50%;
  fill: white;
  z-index: 8;

  @include tablet {
    margin-top: 20px;
  }
  @include mobile {
    margin-top: 20px;
  }
}

.masthead {
  position: relative;
  width: 100%;
}

.button-wrapper {
  display: inline-flex;
  z-index: 88;

  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.button-header {
  background-color: $blue;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 14px 30px;
  color: white;
  border-radius: 50px;
  transition: .3s ease all;

  &:hover {
    background-color: white;
    color: $blue;
    text-decoration: none;
  }

  &:first-of-type {
    margin-right: 20px;
  }
}

.hero {
  position: relative;
  height: 85vh;
  width: 100%;
  background-image: url('../sport.se/img/hero.jpg');
  object-fit: cover;
  background-position: center;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, rgba(0,0,0,0), rgba(65, 100, 140, .78));
    z-index: 5;
  }
}

.hero-heading {
  max-width: 70%;
  height: 100%;
  color: #fff;
  transform: translateY(- 20px);
  z-index: 10;
  padding-left: 70px;

  @include tablet {
    max-width: 100%;
    padding-left: 0px;
    transform: translateY(calc(50% - 210px));
  }
  @include mobile {
    max-width: 100%;
    padding-left: 0px;
    transform: translateY(calc(50% - 210px));
  }

  h2, p {
    display: block;
  }
}


/*====
Career
======*/

.career_section {
  margin: auto;
  padding: 80px 0;
  text-align: center;
  border-bottom: 1px solid #ececec;

  @include tablet {
    padding: 30px;
  }
  @include mobile {
    padding: 30px;
  }
}

.button {
  background-color: $blue;
  padding: 14px 30px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50px;
  margin-top: 20px;
  display: inline-block;
  transition: .3s ease all;

  &:hover {
    transform: translateY(-3px);
    text-decoration: none;
    color: white;
    background-color: darken($blue, 10%);
  }

  @include tablet {
    display: block;
    margin-right: 0;
  }
  @include mobile {
    display: block;
    margin-right: 0;
  }

  &:first-of-type {
    margin-right: 20px;

    @include tablet {
      margin-right: 0;
    }
    @include mobile {
      margin-right: 0;
    }
  }

  &:first-of-type + .button {
    margin-right: 20px;

    @include tablet {
      margin-right: 0;
    }
    @include mobile {
      margin-right: 0;
    }
  }
}

/*====
WEAPON SECTION
======*/

.weapon_section {
  padding: 80px 0;
  text-align: center;
  border-bottom: 1px solid #ececec;

  @include tablet {
    padding: 20px 0;
  }
  @include mobile {
    padding: 20px 0;
  }
}

.weapons_wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.weapon {
  max-height: 50px;
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .55;
  transition: .3s ease all;

  &:hover {
    opacity: 1;
    transform: translateY(-3px);
  }

  &:first-of-type {
    background-image: url('../sport.se/img/logo_apple.svg');
  }

  &:first-of-type + .weapon {
    background-image: url('../sport.se/img/logo_github.svg');
  }

  &:first-of-type + .weapon + .weapon {
    background-image: url('../sport.se/img/logo_laravel.svg');
  }
  &:first-of-type + .weapon + .weapon + .weapon {
    background-image: url('../sport.se/img/logo_nodejs.svg');
  }
  &:first-of-type + .weapon + .weapon + .weapon + .weapon {
    background-image: url('../sport.se/img/logo_slack.svg');
  }
  &:first-of-type + .weapon + .weapon + .weapon + .weapon + .weapon {
    background-image: url('../sport.se/img/logo_vue.svg');
  }

}


/*====
INSTAGRAM SECTION
======*/

.instagram_wrapper {
  position: relative;
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.instagram_image {
  position: relative;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 400px;
  height: 100%;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    background: linear-gradient(to bottom left, rgba(0,0,0,0), rgba(65, 100, 140, .78));
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

  }

  &-1 {
    background-image: url('../sport.se/img/insta_01.jpg');
  }
  &-2 {
    background-image: url('../sport.se/img/insta_02.jpg');
  }
  &-3 {
    background-image: url('../sport.se/img/insta_03.jpg');
  }
}

.instagram_content {
  position: absolute;
  padding: 20px;
  content: "";
  bottom: 0px;
  left: 0px;
  color: #fff;
  z-index: 6;
}

/*====
TEAM SECTION
======*/

.team-wrapper {
  padding: 80px 0;
  border-bottom: 1px solid #ececec;
}

.teammates {
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
}

.teammate {
  position: relative;
  flex-basis: 25%;
  margin-bottom: 20px;
  padding:10px;

  @media only screen and (max-width : 1254px){
    flex-basis: 33.3333%;
 }

  &-img {
    background-image: url('./img/garyv.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 400px;
    height: 100%;
  }

  &-text {
    padding: 20px;
  }
}

.icons {
  font-size: 35px;
  margin-top: 10px;

  & a i {
    color: #000;
  }


  a {

    opacity: .8;
    transition: .3s ease all;

    &:hover {
      opacity: 1;
    }
  }
}


/*====
FLEX COMPONENTS
======*/

.f-col-md-8 {
  flex: 1 0 0;
  padding-right: 15px;
}

.f-col-md-4 {
  flex: 2 0 0;
}

.f {
  display: flex;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}

.f-c-c {
  align-items: center;
  justify-content: center;
}

.f-c-b {
  justify-content: center;
}

.f-c-h {
  align-items: center;
}

.f-d-c {
  flex-direction: column;
}
.f-s-b {
  justify-content: space-between;
}

.flex-stretch {
  justify-content: space-between;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}

.f-col {
  flex-direction: column;
}


.f-col-6 {
  flex-basis: 50%;
}

.f-col-3 {
  flex-basis: 33.33333%;

  @include tablet {
    flex-basis: 33.33333%;;
  }

  @include mobile {
    display: none;
  }
}

.f-col-4 {
  flex: 1;

  @include desktop-large {
    flex-basis: 50%;
  }

  @include tablet {
    flex-basis: 50%;
  }

  @include mobile {
    display: block;
  }
}

.f-col-full {
  flex-basis: 100%;
}
